@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-shadow-color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

::-webkit-scrollbar-track {
  @apply bg-meadow-400
}

::-webkit-scrollbar-thumb {
  @apply bg-white
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
.gradient_transition {
  background: linear-gradient(45deg, var(--tw-gradient-from, #f6d365) var(--tw-gradient-from-position), var(--tw-gradient-to, #fda085) var( --tw-gradient-to-position), var(--tw-gradient-stops, #f6d365)) var(--x, 0)/ 200%;
}
.gradient_transition:hover { --x: 100%; }

.button-meadow {
  --c1: 
}

.cartoon-hero {
  background-image: url("/images/cartoon_bg.jpg")
}

html {
  @apply scroll-smooth;
}
body {
  @apply bg-black font-[14px];
  font-family: "Questrial", sans-serif;
}
